@model IEnumerable<CartDetailsDto>

<div class="container">
    <div class="row">
        @foreach (var cartObj in Model)
        {
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="@cartObj.Product.ImageUrl" class="card-img-top" alt="@cartObj.Product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@cartObj.Product.Name</h5>
                        <p class="card-text">@Html.Raw(cartObj.Product.Description)</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-success">@string.Format("{0:c}", cartObj.Product.Price)</span>
                            <div class="badge bg-primary">@cartObj.Count</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <a asp-action="IncreaseItem" asp-route-cartDetailsId="@cartObj.CartDetailsId" asp-route-productId="@cartObj.ProductId" class="btn btn-success"><i class="bi bi-plus-circle"></i> Increase</a>
                            <span class="mx-2"></span> <!-- Add spacing between buttons -->
                            <a asp-action="DecreaseItem" asp-route-cartDetailsId="@cartObj.CartDetailsId" asp-route-productId="@cartObj.ProductId" class="btn btn-danger"><i class="bi bi-dash-circle"></i> Decrease</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
