@model CartDto

@if (Model.CartHeader != null && Model.CartDetails?.Count() > 0)
{
    <form method="post">
        <input asp-for="CartHeader.UserId" hidden />
        <input asp-for="CartHeader.CartHeaderId" hidden />
        <input asp-for="CartHeader.CouponCode" hidden />
        <input asp-for="CartHeader.Discound" hidden />
        <input asp-for="CartHeader.CartTotal" hidden />

        <div class="border rounded justify-content-between">
            <div class="container bg-primary-subtle row">
                <div class="bg-secondary justify-content-center bg-gradient col-md-7 col-12">
                    <h1 class="text-white mt-1 text-center">Order Summary</h1>
                </div>
                <div class="text-center mt-3 col-md-5 col-12">
                    <a asp-action="Index" class="btn btn-outline-primary form-control">Back to Cart</a>
                </div>
                <br /><br /><br />
                <hr />
                <div class="col-12 col-md-7">
                    <div class="row pt-2">
                        <div class="col-12 py-2">
                            <input asp-for="CartHeader.FirstName" placeholder="First name..." class="form-control" />
                            <span asp-validation-for="CartHeader.FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-12 py-2">
                            <input asp-for="CartHeader.LastName" placeholder="Last name..." class="form-control" />
                            <span asp-validation-for="CartHeader.LastName" class="text-danger"></span>
                        </div>
                        <div class="col-12 py-2">
                            <input asp-for="CartHeader.Email" placeholder="Email..." class="form-control" />
                            <span asp-validation-for="CartHeader.Email" class="text-danger"></span>
                        </div>
                        <div class="col-12 py-2">
                            <input asp-for="CartHeader.Phone" class="form-control" placeholder="Phone number..." />
                            <span asp-validation-for="CartHeader.Phone" class="text-danger"></span>
                        </div>
                        <div class="col-12 pt-2">
                            <label class="col-form-label text-danger">Order will be ready in 30 minutes after placing order. If you place order when restaurant is closed it will be ready next day.</label>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="card bg-primary-subtle border-2 mt-2">
                        <div class="card-body">
                            <div class=" d-none d-lg-block">
                                <div class="row text-danger">
                                    <div class="col-6">
                                        Product Details
                                    </div>

                                    <div class="col-3">
                                        Price
                                    </div>
                                    <div class="col-3">
                                        Count
                                    </div>
                                </div>
                            </div>
                            <hr />

                            @foreach (var cartObj in Model.CartDetails)
                            {
                                <div class="row h-100">
                                    <div class="col-6">
                                        <span style="font-size:20px">@cartObj.Product.Name</span>
                                    </div>

                                    <div class="col-3" style="font-size:11px;">
                                        <span style="font-size:17px;">@cartObj.Product.Price.ToString("c")</span>

                                    </div>
                                    <div class="col-3" style="font-size:11px;">
                                        <span style="font-size:17px;">@cartObj.Count</span>
                                    </div>
                                </div>
                            }

                            <hr />

                            <div class="row">
                                <div class="col-12 text-center pr-4 text-danger">
                                    Order Total :  @Model.CartHeader.CartTotal <br />

                                    @if (Model.CartHeader.Discound > 0)
                                    {
                                        <span class="text-success"> Order Discount :  @Model.CartHeader.Discound</span>
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="row">

                                <div class="col-12 ">
                                    <button type="submit" class="btn btn-success form-control ">
                                        <span>Place Order</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    TempData["error"] = "Error";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}